<!-- FOOTER -->
<footer class="gd-footer">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-5">
        <div class="gd-footer-brand">
          {{ site.title }}
          <span> {{ site.sub_title }} </span>
        </div>
        <p class="gd-footer-text">
          {{ site.description }}
        </p>
        <div class="d-flex gap-3">
          {% for item in site.data.social %}
            <a href="{{ item.link }}"> <i class="bi bi-{{- item.name -}}"></i> </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <h3>Hızlı Menü</h3>
        <ul class="gd-footer-links">
          {% for item in site.data.nav %}
            <li>
              <a href="{{ item.link }}"> {{ item.name }} </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-6 col-lg-4">
        <h3>İletişim</h3>
        <ul class="gd-footer-links">
          <li>{{ site.contact.address }}</li>
          <li>
            <a href="tel:{{ site.contact.gsm }}"> {{ site.contact.gsm }} </a>
          </li>
          <li>
            <a href="mailto:{{ site.contact.email }}"> {{ site.contact.email }} </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="gd-footer-bottom">
      <div class="row align-items-center g-3">
        <div class="col-md-6">
          © {{ 'now' | date: '%Y' }}
          {{ site.copyright }}. Tüm hakları saklıdır.
        </div>
        <div class="col-md-6 text-md-end">
          {% for item in site.data.sub_nav %}
            <a href="{{ item.link }}">{{- item.name -}}</a>
            {% unless forloop.last -%}
              <span class="mx-2"> | </span>
            {%- endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>
